/* Box Model Hack */
* {
     box-sizing: border-box;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES



/*******************************************/

body {

}

.container {
     /* border: 1px solid red; */
     margin: 50px 200px;
}

header {
     display: flex;
     justify-content: space-between;
     gap: 200px;
}

h1{
     /* border: 1px solid yellow; */
     width: 100%;
     font-family: 'PT Serif', sans-serif ;
     font-size: 36px;
}
.info {
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
}
h3 {
     /* font-size: 18px; */
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
