/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #181719;
     color: white;
     /* margin: 40px 80px; */
     padding: 40px 80px;
}

.logo {
     border: 1px solid white;
     padding: 10px;
     /* margin: auto; */
     /* text-align: center; */
     font-size: 14px;
}

a {
     color: white;
     text-decoration: none;
}
ul {
     list-style: none;
}

ul li {
     display: inline;
     /* border: red 1px solid; */
     margin: 0px 50px;
}

ul li:hover {
     border-bottom-width: 3px;
     border-bottom-style: solid;
     padding-bottom: 7px;
}
nav {
     display: flex;
     justify-content: space-between;
}

.hero {
     display: flex;
     justify-content: space-between;
     /* border: red 1px solid; */
     margin-top: 100px;
     box-sizing: border-box;
}

.left {
     display: flex;
     /* justify-content: center; */
     flex-wrap: wrap;
     align-items: center;
     /* width: 100%; */
}

h1 {
     font-size: 20px;
     font-weight: 500;
     width: 100%;
}

p {
     font-size: 24px;
     font-weight: 400;
     line-height: 29.26px;
     max-width: 450px;
     /* padding: 50px 0px; */
}

.read {
     /* font-size: 18px; */
     width: 100%;
}

.theimg{
     width: 571.11px;
     height: 486.53px;
}

.thebox {
     background-color: #38343c;
     width: 350px;
     height: 150px;
     position: absolute;
     right: 140px;
     bottom: -100px;
     /* margin-top: 250px; */
}


h4 {
     width: 100%;
     font-size: 14px;
}

.top{
     display: flex;
     flex-wrap: wrap;
}

.pdf {
     width: 45px;
     border-radius: 50%;
     height: 39px;
}
.h2 {
     font-size: 24px;
}
.secondp {
     font-size: 12px;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
